<div class="pane scroll" ng-click="doHideMenuPanel()">
    <h2>About the Brookes<span class="highlight">ID</span> app</h2>
    <strong class="strapline muted" ng-click="section1toggle()" ng-class="{closed:!section1Open,open:section1Open}">
        What is Brookes<span class="highlight">ID</span>?</strong>
    <div ng-show="section1Open">
        <p>
            Brookes<span class="highlight">ID</span> is a scheme, unique to Oxford Brookes University, which allows you to collect achievements for community, sporting, and volunteering activities.
        </p>
        <p>
            Collect enough achievements in a particular category and you will receive a Brookes<span class="highlight">ID</span> Award, in each of four categories.
        </p>
    </div>
    <strong class="strapline muted" ng-click="section2toggle()" ng-class="{closed:!section2Open,open:section2Open}">What is an activity?</strong>
    <div ng-show="section2Open">
        <p>
            Activities have been recognized within Oxford Brookes as contributing to your individual development, in line with one of the Brookes Guiding Principles.
            Each activity you complete will earn you an achievement recognizing that you have completed the activity.
        </p>
    </div>
    <strong class="strapline muted" ng-click="section3toggle()" ng-class="{closed:!section3Open,open:section3Open}">
        What is an achievement?
    </strong>
    <div ng-show="section3Open">
        <p>
            An achievement is awarded upon successful completion of an activity that is recognized under the Brookes<span class="highlight">ID</span> scheme.
        </p>
        <p>
            Achievements are a permanent record of your achievements, and are a great way of demonstrating your commitment to the Brookes Guiding Principles to employers.
        </p>
    </div>
    <strong class="strapline muted" ng-click="section4toggle()" ng-class="{closed:!section4Open,open:section4Open}">
        What is an award?</strong>
    <div ng-show="section4Open">
        <p>
            Achievements show your successful completion of an activity aligned to one of the Brookes Guiding Principles.
            If you collect enough achievements, you will receive an award under a particular principle.
            You can work towards an award under each of the categories.
        </p>
        <ul>
            <li>2 achievements will earn you a Bronze Award.  </li>
            <li>3 achievements will earn you a Silver Award. </li>
            <li>5 achievements will earn you a Gold Award.  </li>
        </ul>
    </div>
    <strong class="strapline muted" ng-click="section5toggle()" ng-class="{closed:!section5Open,open:section5Open}">
        What is a category?</strong>
    <div ng-show="section5Open">
        <p>
            Categories align to the Brookes Guiding Principles: <a href="#/badges-in-cat1">Confidence</a>, <a href="#/badges-in-cat2">Enterprising creativity</a>,
            <a href="#/badges-in-cat3">Connectedness</a>, and <a href="#/badges-in-cat4">Generosity of spirit</a>.
            Each activity that you complete earns you an achievement that has been assigned to one of these principles.
        </p>
        <p>&nbsp;</p>
    </div>
</div>