<div class="pane" ng-click="doHideMenuPanel()">
    <div class="categories clear centre">
        <h2>Browse activities</h2>
        <div class="two-col">
            <div class="category-box category1 animated flipInX">
                <a href="#/badges-in-cat1" class="badge-drilldown" id="view-c1">Confidence</a>
                <p class="very-large">
                    <a href="#/badges-in-cat1" class="badge-drilldown" id="icon-c1"><img src="images/confidence-logo.png" alt="Confidence" /></a>
                </p>
            </div>
            <div class="category-box category2 animated flipInX">
                <a href="#/badges-in-cat2" class="badge-drilldown" id="view-c2">Enterprising creativity</a>
                <p class="very-large">
                    <a href="#/badges-in-cat2" class="badge-drilldown" id="icon-c2"><img src="images/entc-logo.png" alt="Enterprising creativity" /></a>
                </p>
            </div>
        </div>
        <div class="two-col">
            <div class="category-box category3 animated flipInX">
                <a href="#/badges-in-cat3" class="badge-drilldown" id="view-c3">Connectedness</a>
                <p class="very-large">
                    <a href="#/badges-in-cat3" class="badge-drilldown" id="icon-c3"><img src="images/connected-logo.png" alt="Connectedness" /></a>
                </p>
            </div>
            <div class="category-box category4 animated flipInX">
                <a href="#/badges-in-cat4" class="badge-drilldown" id="view-c4">Generosity of spirit</a>
                <p class="very-large">
                    <a href="#/badges-in-cat4" class="badge-drilldown" id="icon-c4"><img src="images/gens-logo.png" alt="Generosity of spirit" /></a>
                </p>
            </div>
        </div>
        <p>&nbsp;</p>
        <p><a href="#/allbadges"><i class="fa fa-search"></i> Search for activities</a></p>
    </div>
    <div class="bottom">
        <button class="show-div" ng-click="showExplanation()">What is My Badges?</button>
    </div>
</div>