<div class="pane"  ng-click="doHideMenuPanel()">
    <span ng-repeat="email in emails | filter: 'newemail' |filter:query as unread"></span>
    <h2>Messages <span class="notification right" ng-hide="!(unread.length)">{{unread.length}}</span> </h2>
    <div class="page-wrap scroll" id="inbox">
        <div class="ui-panel-inner">
            <div id="loading" ng-hide="loadingFinished">
                <i class="fa fa-spinner fa-pulse fa-2x"></i>
            </div>
            <ul data-role="listview" class="messages  animated slideInUp ">
                <!--  ng-controller="myEmailsCtrl" -->
                <li class="mailbox page-wrap {{email.status}}" ng-repeat="email in emails | orderBy : email.timecreated">
                    <a data-toggle="modal" ng-click="openMsg(email)">
                        <time class="epoch" datetime="{{email.timecreated * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}">{{email.timecreated * 1000 | date:'dd MMM, HH:mm'}}</time><br />
                        <span class="subject">{{email.subject}}</span>
                    </a>
                </li>
                <li ng-show="loadingFinished">
                    
                    <div class="inner-box" ng-show="!(emails).length">
                        <p>You have no notifications yet.</p>
                        <p>
                            Check back here when you have signed up for activities,
                            as you will see a confirmation message for each <a href="#/suggestedbadges">activity</a> you sign up for.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
