<div class="pane"  ng-click="doHideMenuPanel()">
    <div id="error-msg" class="not-displayed">
    </div>
    <div class="categories clear centre">
        <h2>My Badges</h2>
        <div class="two-col">
            <div class="category-box category1 animated flipInX">
                <h4>Confidence</h4>
                <p class="very-large">
                    <i class="fa fa-shield"></i>
                </p>
            </div>
            <div class="category-box category2 animated flipInX">
                <h4>Enterprising creativity</h4>
                <p class="very-large">
                    <i class="fa fa-paint-brush"></i>
                </p>
            </div>
        </div>
        <div class="two-col">
            <div class="category-box category3 animated flipInX">
                <h4>Connectedness</h4>
                <p class="very-large">
                    <i class="fa fa-tree"></i>
                </p>
            </div>
            <div class="category-box category4 animated flipInX">
                <h4>Generosity of spirit</h4>
                <p class="very-large">
                    <i class="fa fa-signing"></i>
                </p>
            </div>
        </div>
        <div class="button ok"><a href="#/login">Log in to see your achievements, activities and awards</a></div>

    </div>
    <div class="bottom">
        <button class="show-div" ng-click="showExplanation()" data-rel="popup" id="show-d1" data-transition="pop">What is My Badges?</button>
    </div>
</div>